$bp-small: 37.5em;
$bp-medium: 56.25em;
$bp-largest: 122.5em;

// source : https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
$breakpoints: (
  'small':  ( max-width:  $bp-small ),
  'medium': ( max-width:  $bp-medium ),
  'big':    ( min-width: $bp-largest )
) !default;

$color-primary: #1285F9;
$background-color: #EEEDED;
$auto-suggestion-color: #EAECEE
