@import "mixins";
@import "variables";

.shopping-cart {
  @include center;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25),
    0 1rem 1rem rgba(0, 0, 0, 0.22);

  &__header {
    text-transform: uppercase;
    font-size: 2rem;
    background-color: $color-primary;
    color: white;
    text-align: center;
    padding: 1rem;
  }

  &__content {
    position: relative;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1.5rem;

    &__item {
      display: grid;
      grid-template-columns: 1fr 0.4fr 0.3fr;
      font-size: 1.8rem;
      font-style: italic;
      position: relative;
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($color: black, $alpha: 0.2);
      }

      &:hover {
        cursor: pointer;
        background-color: rgba($color: $color-primary, $alpha: 0.1);
      }

      &__title {
        padding-left: 3rem;
      }

      &__close {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    font-style: italic;

    &__reduction {
      color: red;
    }
  }
}
